Source: webengine
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Jonathan Billaud <jonathan.billaud@smartjog.com>,
           Nicolas Delvaux <nicolas.delvaux@smartjog.com>,
           Marc Fouche <marc.fouche@smartjog.com>,
           Nicolas Godinho <nicolas.godinho@smartjog.com>
Build-Depends: debhelper (>= 8),
               cdbs,
               python-central (>= 0.6),
               txt2tags
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1

Package: webengine
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-django (>= 1.2.3),
         python-simplejson,
         importer,
         python-imaging,
         python-sjutils (>= 1.15),
         wwwconfig-common (>= 0.2.1),
         msgpack-python
Recommends: apache2 | httpd,
            sjconf-webengine
Suggests: libapache2-mod-wsgi,
          python-django-auth-ldap
Conflicts: sjrtools (<< 0.33)
XB-Python-Version: ${python:Versions}
Description: Django application for smartjog
 This is an empty box.
 Install webengine-* to add functionality to the webengine.

Package: webengine-data
Architecture: all
Depends: ${misc:Depends}
Suggests: postgresql
Description: SmartJog schema for WebEngine
 Provides SQL schemas to create WebEngine's postgres database.

Package: sjconf-webengine
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         webengine (= ${binary:Version}),
         sjconf1 (>= 1.2)
XB-Python-Version: ${python:Versions}
Description: Sjconf plugin for WebEngine
 This SJConf plugin handles configuration for the Webengine
 plugin.
